body {
    background-color: #F5F3F4;
    margin: 0;
    font-family: Comfortaa, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(../public/Comfortaa.ttf) format('truetype');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
